/* styles.css */

.background-container {
    width: 100%;
    height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content {
    background-color: rgba(250, 245, 245, 0.829); /* Example overlay color with transparency */
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    height: 90%;
    width:25%;
   
}
label[for]:required{
    content: "* ";
    color: red;
  }
 
 
    
    
    
    
 
 input[type=text],input[type=email], input[type=password], select,input[type=date]
 {
   width: 100%;
    height: 25px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    
 }
 
 h1
 {
    text-align: center;
 }
 


 button
 {
    width: 50%;
    padding: 10px;
    background-color: #4774a5;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 20%;
 }
 
 